ul.thumbnails_grid{
    list-style: none;
    margin-left: 0px;
}

ul.thumbnails_grid li{
    list-style: none;
    margin-left: 0px;
    display: block;
    float: left;
}

ul.thumbnails_grid img{
    margin-right:8px;
    margin-bottom:8px;
    width:166px;
    height:auto;

}

.thumb-grid{
    clear: both;
    display: block;
}