.img-container{
    position:relative;
    display: block;
}
.prop-status{
    display: inline-block;
    /*min-width: 25%;*/
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 4px;
    text-transform: uppercase;
}

.prop-status-small{
    display: inline-block;
    /*min-width: 25%;*/
    position: absolute;
    top: 0px;
    right: 0px;
    font-weight: bold;
    padding: 2px 4px;
    text-transform: uppercase;
}

.new{
    background-color: #3bc57a;
    display: block;
}

.booked{
    background-color: yellow;
    display: block;
}

.reserved{
    background-color: #db4f04;
    color: white;
}

.sold{
    margin-top:4px;
    background-color: transparent;
    color: white;
    background: url(../images/sold.png) no-repeat;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
    text-indent: -1000em;
}

.available{
    margin-top:4px;
    background-color: transparent;
    color: white;
    background: url(../images/available.png) no-repeat;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
    text-indent: -1000em;
}

.under .contract , .under-contract{
    background-color: #70393e;
    color: white;
}

.featured{
    background-color: #8cb914;
    color: white;
}

.pending{
    background-color: #014983;
    color: white;
}

.prelisted{
    background-color: #7e5424;
    color: white;
}
