.img-container{
    position:relative;
    display: block;
}
.prop-status{
    display: inline-block;
    min-width: 25%;
    position: absolute;
    bottom: 10px;
    right: 0px;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 4px;
    text-transform: uppercase;
}

.prop-status-small{
    display: inline-block;
    min-width: 25%;
    position: absolute;
    bottom: 10px;
    right: 0px;
    font-weight: bold;
    padding: 2px 4px;
    text-transform: uppercase;
}


.booked{
    background-color: yellow;
    display: block;
}

.reserved{
    background-color: red;
    color: white;
}

.sold{
    background-color: brown;
    color: white;
}
